<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin panel</title>
</head>
<body>

<navbar class="navbar navbar-dark bg-dark">
    <span class="navbar-text">
        <h5 class="text-white bg-dark">
            <strong th:text="${admin.email}"/>
            with roles:
            <tr th:each="role : ${admin.getRoles()}" th:text="${role.toString()}"/>
        </h5>
  </span>
    <a type="button" class="btn-link bg-dark text-muted" href="/logout">
        Logout
    </a>
</navbar>

<div class="container-fluid">
    <div class="row w-100">
        <div class="col-2 p-0 m-0 flex-fill bg-white">
            <div class="nav flex-column nav-pills  mt-3" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" href="#admintable" data-toggle="pill" role="tab">Admin</a>
                <a class="nav-link" href="#usertable" data-toggle="pill" role="tab">User</a>
            </div>
        </div>
        <div class="col-10 bg-white">
            <div class="tab-content mt-3 ms-5">
                <div class="tab-pane fade show active" id="admintable" role="tabpanel">
                    <h3>Admin panel</h3>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#userlist" role="tab"
                               aria-controls="home" aria-selected="true">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#newuser" role="tab"
                               aria-controls="profile" aria-selected="false">New user</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="userlist" role="tabpanel">
                            <div class="card">
                                <div class="card-header">
                                    <h5>All users</h5>
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <thead>
                                        <th>Id</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Roles</th>
                                        <th> Edit</th>
                                        <th> Delete</th>
                                        </thead>
                                        <tbody>
                                        <tr scope="row" th:each="user : ${users}">
                                            <td th:utext="${user.id}">Id</td>
                                            <td th:utext="${user.firstName}">Username</td>
                                            <td th:utext="${user.lastName}">Password</td>
                                            <td th:utext="${user.age}">Password</td>
                                            <td th:utext="${user.email}">Email</td>
                                            <td>
                                                <th:block th:each="role : ${user.roles}"
                                                          th:text="${role.toString()}">
                                                </th:block>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-info" data-toggle="modal"
                                                        data-target="#editModal"
                                                        th:data-target="${'#editUser' + user.id}">Edit
                                                </button>

                                                <div class="modal fade" tabindex="-1" role="dialog"
                                                     id="editModal" th:id="${'editUser' + user.id}"
                                                     aria-labelledby="editModalLabel" aria-hidden="true">

                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="editModalLabel">Edit
                                                                    user</h5>
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>

                                                            </div>
                                                            <div class="modal-body">
                                                                <form th:action="@{/admin/edit}" method="POST" th:object="${user}">
                                                                    <div class="mx-auto text-center"
                                                                         style="width: 300px;">
                                                                        <div class="form-group">
                                                                            <label for="idEdit" class="form-label">
                                                                                <strong>ID</strong></label>
                                                                            <input type="text" class="form-control"
                                                                                   id="idEdit"
                                                                                   name="id"
                                                                                   th:value="${user.id}" readonly>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="firstNameEdit" class="form-label">
                                                                                <strong>First Name</strong></label>
                                                                            <input type="text" class="form-control"
                                                                                   id="firstNameEdit"
                                                                                   name="firstName"
                                                                                   th:value="${user.firstName}">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="lastNameEdit" class="form-label">
                                                                                <strong>Last Name</strong></label>
                                                                            <input type="text" class="form-control"
                                                                                   id="lastNameEdit"
                                                                                   name="lastName"
                                                                                   th:value="${user.lastName}">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="ageEdit" class="form-label">
                                                                                <strong>Age</strong></label>
                                                                            <input type="number" class="form-control"
                                                                                   id="ageEdit"
                                                                                   name="age"
                                                                                   th:value="${user.age}">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="emailEdit" class="form-label">
                                                                                <strong>Email</strong></label>
                                                                            <input type="text" class="form-control"
                                                                                   id="emailEdit"
                                                                                   name="email"
                                                                                   th:value="${user.email}">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="passwordEdit"
                                                                                   class="form-label"><strong>Password</strong></label>
                                                                            <input type="password" class="form-control"
                                                                                   id="passwordEdit"
                                                                                   name="password">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="roleEdit"
                                                                                   class="form-label"><strong>Role</strong></label>
                                                                            <select class="form-control"
                                                                                    name="roles" size="2"
                                                                                    multiple="multiple" id="roleEdit">
                                                                                <option th:each="role : ${roles}"
                                                                                        th:value="${role.id}"
                                                                                        th:text="${role.toString()}"></option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Close
                                                                </button>
                                                                <button type="submit" class="btn btn-primary">
                                                                    Edit
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger" data-toggle="modal"
                                                        data-target="#deleteModal"
                                                        th:data-target="${'#deleteUser' + user.id}">Delete
                                                </button>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="tab-pane fade" id="usertable" role="tabpanel">
                    <p>User</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>